* {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* --------------------------------------------------------------------- */

.logo {
    font-size: calc(25 * var(--px));
    font-weight: bold;
    line-height: 1;
}

.items__item {
    font-size: calc(20 * var(--px));
    font-weight: 500;
    line-height: 1;
    cursor: pointer;

    padding-left: calc(10 * var(--px));
    padding-right: calc(10 * var(--px));
    padding-bottom: calc(5 * var(--px));

    border: calc(2 * var(--px)) solid black;
    background: yellow;
}
.items__item--hidden {
    display: none;
}
.items__item:hover {
    background: orange;
}

.burger {
    font-size: 0;
    text-align: center;
    cursor: pointer;

    padding: calc(2.5 * var(--px));

    border: calc(2 * var(--px)) solid black;
    background: orange;
}
.burger svg {
    height: calc(20 * var(--px));
}
.burger:hover {
    background: red;
}

.exit {
    font-size: 0;
    text-align: center;
    cursor: pointer;

    padding: calc(2.5 * var(--px));

    border: calc(2 * var(--px)) solid black;
    background: orange;
}
.exit svg {
    height: calc(20 * var(--px));
}
.exit:hover {
    background: red;
}

/* --------------------------------------------------------------------- */

.navbar {
    background: yellow;
    outline: calc(2 * var(--px)) solid black;
    outline-offset: calc(-2 * var(--px));

    position: sticky;
    top: 0;
}
.navbar__wrapper {
    display: flex;
    align-items: center;
    padding: calc(4 * var(--px));
}
.navbar .logo {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: calc(5 * var(--px));
    margin-right: calc(100 * var(--px));
}
.navbar .items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: calc(750 * var(--px));

    overflow: hidden;
}
.navbar .items__item {
    white-space: nowrap;

    flex-grow: 1;
    margin-right: calc(2 * var(--px));
}
.navbar .burger {
    flex-grow: 0;
    flex-shrink: 0;
}

.navbar_modal {
    background: #00000099;
}
.navbar_modal > div {
    display: flex;
    justify-content: flex-end;
}
.navbar_modal__wrapper {
    flex-basis: calc(250 * var(--px));;
    padding: calc(2 * var(--px));
    padding-bottom: 0;

    background: yellow;
    border: calc(2 * var(--px)) solid black;
}
.navbar_modal .exit,
.navbar_modal .items__item {
    margin-bottom: calc(2 * var(--px));
}
